.home-container {
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(to bottom, #f5f3ff, #eef2ff, #f8fafc);
  font-family: Arial, sans-serif;
}

/* HEADER */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-header h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.home-header p {
  color: #666;
  margin-top: 4px;
}

.robot-box {
  background-color: #eef2ff;
  padding: 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SEARCH */
.search-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 22px;
  padding: 12px;
  margin-bottom: 20px;
  gap: 6px;
}

.search-input {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 14px;
  padding: 10px;
}

.search-input input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 8px;
  font-size: 16px;
}

.mic-btn,
.camera-btn {
  background-color: #7c3aed;
  padding: 12px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* CATEGORIES */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.category-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.category-card:hover {
  transform: translateY(-5px);
}

.icon-bg {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 28px;
  color: #2563eb;
}
.icon-bg svg {
  color: #7c3aed; /* لون أيقونات الأقسام موف */
  font-size: 28px;
}
.category-card p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* VOICE MODAL */
.voice-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.voice-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 85%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.voice-modal-content input {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  outline: none;
}

.voice-search-btn {
  background-color: #7c3aed;
  padding: 12px;
  border-radius: 12px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
